Package Imports

In [1]:
from databricks import sql as sql 
import pandas as pd 
import os
from sqlalchemy.orm import declarative_base, Session
from sqlalchemy import Column, String, Integer, BOOLEAN, create_engine, select

Configuration

In [2]:
# Configuration variables - from your keyvault and Databricks 
host = "adb-5941722640346466.6.azuredatabricks.net" 
http_path = "/sql/1.0/warehouses/76310ddb30acc57b" 
access_token = "dapi898a90c68187db0e64d8c396cb25d8b0-3"
catalog = ("ea_prod")
schema = ("reference_gold")

Functions

In [10]:
#this creates an engine connection to a database and runs a sql query
def run_query(database,query):
    engine = create_engine(f"databricks://token:{access_token}@{host}?http_path={http_path}&catalog={catalog}&schema={database}")
    results = engine.execute(query).fetchall()
    #print(results)
    # loop through results and print them
    data =[]
    for row in results:
        data.append(row)
    pd.DataFrame(data)
    return pd.DataFrame(data)

Database & SQL Statement

In [11]:
database = 'reference_gold'
query = 'SELECT * FROM reference_gold.account limit 5'

In [14]:
results = run_query(database,query)

,locationid,locationname,ismainlocation,mainlocationid,status,substatus,city,metroarea,regioncode,regionname,...,localsalesrepid,localsalesrepname,primaryconsultantid,primaryconsultantname,prospectrating,active,startdatekey,enddatekey,current,etltimestamp
0,748061,Royal Securities Co.,1,748061,Unknown,Unknown,Grandville,Grand Rapids,MI,Michigan,...,0,None,0,None,1.0,0,20181216,NaN,1,2019-10-18 06:15:48.953000+00:00
1,1232403,Standard & Poor's - Supplier Agreement,1,1232403,Prospect,Former Trial,New York,Unknown,NY,New York,...,0,None,0,None,NaN,0,20181216,NaN,1,2019-10-18 06:15:48.953000+00:00
2,506129,Decade Capital Management,1,506129,Prospect,Former Client,Boca Raton,Unknown,FL,Florida,...,0,None,0,None,NaN,1,20181216,20190201.0,0,2019-10-18 06:15:48.953000+00:00
3,726090,MIDF Amanah Asset Management Bhd.,0,667090,Prospect,New Prospect,Kuala Lumpur,Unknown,0,Unknown,...,10765,"Tan, Meng Way",0,None,NaN,1,20181216,NaN,1,2019-10-18 06:15:48.953000+00:00
4,1485130,BAML Wealth Everett - WA3131,0,1437969,Client,Unknown,Everett,Unknown,WA,Washington,...,13519,"Sullivan, Sheila",3442,"Osgood, Courtney",NaN,1,20181216,20210916.0,0,2021-11-20 00:06:01.900000+00:00

In [16]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 46 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   locationid                5 non-null      int64
 1   locationname              5 non-null      object
 2   ismainlocation            5 non-null      int64
 3   mainlocationid            5 non-null      int64
 4   status                    5 non-null      object
 5   substatus                 5 non-null      object
 6   city                      5 non-null      object
 7   metroarea                 5 non-null      object
 8   regioncode                5 non-null      object
 9   regionname                5 non-null      object
 10  countrycode               5 non-null      object
 11  countryname               5 non-null      object
 12  companysize               5 non-null      object
 13  firmtype                  5 non-null      object
 14  firmdescription           5 non-null      object
 15  firmclass                 5 non-null      object
 16  enterprise                5 non-null      object
 17  enterpriseclassification  5 non-null      object
 18  strategicaccount          5 non-null      int64
 19  salesforceaccountname     5 non-null      object
 20  salesforceenterprisename  5 non-null      object
 21  supportmodelname          5 non-null      object
 22  accountplan               5 non-null      object
 23  accountregion             5 non-null      object
 24  salesmodelname            5 non-null      object
 25  strategicprogram          5 non-null      object
 26  accountplanstatus         5 non-null      object
 27  l1modifiedfirmtype        5 non-null      object
 28  firmsubdivision           5 non-null      object
 29  accountsegment            5 non-null      object
 30  salesteamid               5 non-null      int64
 31  salesteam                 5 non-null      object
 32  salesregion               5 non-null      object
 33  salesvertical             5 non-null      object
 34  consultingteamid          5 non-null      int64
 35  consultingteam            5 non-null      object
 36  localsalesrepid           5 non-null      int64
 37  localsalesrepname         2 non-null      object
 38  primaryconsultantid       5 non-null      int64
 39  primaryconsultantname     1 non-null      object
 40  prospectrating            1 non-null      float64
 41  active                    5 non-null      int64
 42  startdatekey              5 non-null      int64
 43  enddatekey                2 non-null      float64
 44  current                   5 non-null      int64
 45  etltimestamp              5 non-null      datetime64[ns, Etc/UTC]
dtypes: datetime64[ns, Etc/UTC](1), float64(2), int64(11), object(32)
memory usage: 1.9+ KB